.footer {
  font-family: 'Lobster', cursive;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 20px;
  color: #64BD6C;
  font-weight: lighter;
}
